@model DivisionLayout

<table class="table table-striped">
    <thead>
        <tr class="info">
            <th>
                @(Model.Division.GetAttribute<EnumDisplayAttribute>().Display)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].Record)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].DefenseRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].DefensePassingRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].DefenseRushingRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].OffenseRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].OffensePassingRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].OffenseRushingRank)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teams)
        {
            <tr>
                <td>
                    <img src="@item.CbsLogo" style="padding-right: 3px;" />
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Record)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefenseRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefensePassingRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefenseRushingRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OffenseRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OffensePassingRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OffenseRushingRank)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
